# Workspace files
.todo
kaggle.json

# Competition files
.venv
__pycache__
# Ignore contents of data and submissions folders, but keep .txt files
**/data/*
!**/data/*.txt
**/submissions/*
!**/submissions/*.txt
